@import "../reset.css";

body{
    padding: 10px 8px 0;
    min-height: 100vh;
}

form.logInForm{
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
    margin: 0 auto;
    min-width: 300px;
}

form > * ~ * {
    margin-top: 10px;
}

.logInButton{
    border: 1px solid black;
    border-radius: 16px;
    padding: 5px;
}