@import "reset.css";

* {
    box-sizing: border-box;
}

#messenger {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    max-width: 1024px;
    margin: 0 auto;
    border-right: 1px solid rgba(50, 50, 50, 0.3);
    border-left: 1px solid rgba(50, 50, 50, 0.3);
}

.chatListAndCurrentChatListMessagesWrapper {
    display: flex;
    flex-flow: row nowrap;
}

.chatListAndSearchFormWrapper {
    flex: 0.35;
    min-width: 250px;
}

.chatListAndSearchFormWrapper {
    border-right: 1px solid rgba(50, 50, 50, 0.3);
}

.currentChatListMessages {
    flex: 1;
    position: relative;
}

span.noCurrentChatSpan {
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.chatList {
    font-size: 14px;
}

.chatList > * ~ * {
    margin-top: 10px;
}

.chatListListItem {
    display: flex;
    flex-flow: row nowrap;
}

.currentChat {
    background-color: #5a7484;
    color: white;
}

.userAvatarContainer {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.userAvatarContainer > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.chatListListItemDataContainer {
    margin-left: 10px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;


    overflow: hidden;
}

span.chatListListItemLastMessageSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 5px 5px 0;
}